@media (max-width: 767.98px) {
  #banner {
    .header-title {
      text-align: center;
      font-size: 3.5rem;
      line-height: normal;
    }
    .banner-nav {
      .nav-container {
        flex-direction: column;
        gap: 10px;
      }
    }
    .banner-nav {
      .nav-container {
        a {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (max-width: 575.98px) {
  #banner {
    .banner-container {
      align-items: center;
      .bannerBtnContact {
        align-items: center;
      }
    }
    h1,
    h5,
    p {
      text-align: center;
    }
  }
  #experience {
    .lineTime {
      margin-left: 0;
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }
  }

  #featured-project {
    .card-container {
      margin-bottom: 10px;
    }
    .btnProject {
      align-self: center;
    }
    .btnProjectContainer {
      justify-content: center;
    }
  }

  #about-me {
    padding-bottom: 20px;
    .footerContainer {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  }
}
