/*----------------------------banner-header-------------------------------*/
#banner {
  // background-image: url(/assets/images/bg-banner.jpg);
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  background-color: white;
  height: calc(100vh + 150px);
  padding-top: 150px;
  h1,
  h3,
  p {
    color: $black;
    font-style: normal;
  }

  img {
    width: 500px;
  }

  h1 {
    font-size: 6rem;
  }

  .number-dorms {
    color: $text;
  }

  .btn.btn-primary {
    margin-top: 15px;
    border-radius: 50px;
  }
}
