/*----------------------------banner-header-------------------------------*/
.banner {
  background: rgb(76, 112, 152);
  background: linear-gradient(
    90deg,
    rgba(76, 112, 152, 1) 0%,
    rgba(113, 139, 184, 1) 36%,
    rgba(148, 165, 215, 1) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1,
  h3,
  p {
    color: $black;
    font-style: normal;
  }

  img {
    width: 500px;
  }

  h1 {
    font-size: 6rem;
  }

  .number-dorms {
    color: $text;
  }

  .btn.btn-primary {
    margin-top: 15px;
    border-radius: 50px;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .header-subtitle {
      letter-spacing: 5px;
      font-weight: 500;
      margin-bottom: 40px;
    }
    .header-title {
      font-weight: bold;
      line-height: 0.7;
      margin-bottom: 25px;
      color: $white;
    }
    .header-mono {
      letter-spacing: 5px;
      font-weight: 500;
      margin-bottom: 40px;
    }
  }

  .banner-nav {
    .nav-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      margin-top: 60px;
      .header-item {
        list-style: none;
        font-weight: bold;
        text-decoration: none;
        font-family: Roboto;
        font-size: 1.5rem;
        color: $text;
        transition: all 0.3s ease-in-out;
        i {
          margin-left: 5px;
        }
        &:hover {
          color: $white;
          transform: translateY(-7px);
          transition: transform 0.3s ease-in-out;
        }
      }
    }
  }
}

/*----------------------------about me-------------------------------*/

.about-me {
  text-align: center;
  .about-me-descript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    p {
      width: 80%;
    }
  }
  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 20px;
    .tech {
      .tech-icon {
        display: grid;
        place-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
        .item {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          .fa-html5,
          .fa-css3-alt,
          .fa-bootstrap,
          .fa-sass,
          .fa-js,
          .fa-react {
            transition: color 0.3s ease-in-out;
          }
          .fa-html5 {
            &:hover {
              color: rgb(255, 77, 0);
            }
          }
          .fa-css3-alt {
            &:hover {
              color: rgb(0, 26, 255);
            }
          }
          .fa-bootstrap {
            &:hover {
              color: rgb(115, 0, 255);
            }
          }
          .fa-sass {
            &:hover {
              color: rgb(255, 0, 251);
            }
          }
          .fa-js {
            &:hover {
              color: rgb(232, 225, 0);
            }
          }
          .fa-react {
            &:hover {
              color: rgb(0, 208, 255);
            }
          }
          .fa-git-alt {
            &:hover {
              color: rgb(255, 77, 0);
            }
          }
          .fa-github {
            &:hover {
              color: #000;
            }
          }
        }
        i {
          font-size: 40px;
        }
      }
    }
  }
}

/*----------------------------my work-------------------------------*/

.featured-project {
  background: rgb(163, 167, 224);
  background: linear-gradient(
    90deg,
    rgba(163, 167, 224, 1) 0%,
    rgba(198, 210, 223, 1) 100%,
    rgba(208, 213, 226, 1) 100%
  );
  margin-bottom: 40px;
  .section-title {
    text-align: center;
    color: $white;
  }

  .project-item {
    img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
    .item-bg {
      border: 4px solid #dbe8ed;
      border-radius: 2%;
      overflow: hidden;
      text-align: center;
      -webkit-perspective: 50em;
      perspective: 50em;
      h4 {
        margin-top: 15px;
        margin-bottom: 5px;
        color: #232323;
      }
      span {
        font-size: 14px;
        font-style: italic;
        display: block;
        color: $black;
      }
      a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
      }
      &:after {
        background-color: #fff;
        position: absolute;
        content: "";
        display: block;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 0;
      }
    }
    .description-item {
      top: 50%;
      left: 20px;
      right: 20px;
      position: absolute;
      opacity: 0;
      z-index: 1;
      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        &:hover {
          color: #1657e3;
        }
      }
      .tools {
        font-weight: bold;
        font-style: normal;
        margin-top: 10px;
      }
    }
  }

  figure.item-bg:hover .description-item,
  figure.item-bg.hover .description-item {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  figure.item-bg:hover:after,
  figure.item-bg.hover:after {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.9;
  }
}

/*----------------------------contact-------------------------------*/

.contact {
  margin-bottom: 80px;
  h4 {
    text-align: center;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-item {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #232323;
      gap: 20px;
      font-weight: 500;
      i {
        font-size: 50px;
      }
      &:hover {
        filter: brightness(0) saturate(100%) invert(12%) sepia(84%)
          saturate(2142%) hue-rotate(198deg) brightness(93%) contrast(97%);
      }
      &:hover i {
        transform: translateY(-20px);
        transition: transform 0.3s ease-in-out;
      }
    }
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .contactBtn {
        width: 50%;
        border: none;
        font-size: 2rem;
        &:hover {
          filter: brightness(0) saturate(100%) invert(12%) sepia(84%)
            saturate(2142%) hue-rotate(198deg) brightness(93%) contrast(97%);
        }
      }
    }
  }
  .social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .social-link {
      margin-top: 40px;
    }
  }

  .contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    input,
    textarea {
      width: 300px;
      border-radius: 5px;
      border: 2px solid #c0cae2;
      background-color: #fcfcfd;
    }
    .input-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .btn-send {
      margin-top: 20px;
      border-radius: 5px;
      border-color: #c0cae2;
      &:hover {
        background-color: #c0cae2;
      }
    }
  }
}
