.footer {
  background: rgb(76, 112, 152);
  background: linear-gradient(
    90deg,
    rgba(76, 112, 152, 1) 0%,
    rgba(113, 139, 184, 1) 36%,
    rgba(148, 165, 215, 1) 100%
  );
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -70px;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  .madeBy {
    text-align: center;
    color: $white;
  }
}
/*----------------------------Queries-------------------------------*/
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .footer {
    padding-top: 60px;
    margin-top: -30px;
    padding-bottom: 40px;
    .copyright {
      justify-content: center;
      flex-direction: column;
    }
  }
}

/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
