$primary: #191920;
$secondary: #033545;
$text: #12446e;
$text-secondary: #425762;
$text-hover: #191920;
$btn: #6e84ff;
$btn-hover: #97b1ff;

$white: #fff;
$black: #000;

$lightestgrey: #f5f5f5;
$lightergrey: #d3d4d3;
$lightgrey: #b6b7b7;
$darkgrey: #86888c;
$darkergrey: #50535a;
$darkestgrey: #313235;

$blue-50: #ebf2ff;
$blue-100: #dbe6ff;
$blue-200: #bed1ff;
$blue-300: #97b1ff;
$blue-500: #4c5aff;
$blue-600: #2e2eff;
$blue-700: #2420e2;
$blue-800: #1d1db6;
$blue-900: #20228f;
$blue-950: #131353;
